td,
tr {
    width: fit-content;
    text-align: center;
}

div {
    margin: 0 50px 0 50px;
}

.innertd {
    height: 100%;
    width: 100%;
    border: none;
    text-align: center;
    padding: 0%;
    margin: 0%;
}

.btn {
    margin-left: 5px;
}

.errorText {
    color: red;
    text-align: center;
    margin: 20px;
    font-weight: bold;
}

.arrow-up-icon::before {
    content: '▲';
    font-size: 12px;
    margin-left: 5px;
}

.arrow-down-icon::before {
    content: '▼';
    font-size: 12px;
    margin-left: 5px;
}
thead, th {
    position: sticky;
    top: 0;
    z-index: 100px;
}
.arrow_img{
    width: 16px;
    height: 16px;
}